body{
    font-family: "Microsoft YaHei";
    color: black;
}
a{
    text-decoration: none;
    color: #9d9d9d;
}
div,ul,li{
    margin: 0;
    padding: 0;
    list-style: none;
}
#calendar{
    margin:0 auto;
    border:1px solid #1E90FF;
    width: 350px;
    border-radius: 10px;
}
#nav{
    margin-top: 9px;
    border-bottom: black;
    padding: 5px;
    margin-bottom: 3px;
    overflow: hidden;
}
#year{
    width: 70px;
    float: left;
    margin-top: 8px;
}
#month{
    width: 50px;
    float: left;
    margin-top: 8px;
}

#year-div,#month-div{
    float: left;
}
.select-head{
    overflow: hidden;
    line-height: 17px;
    height: 20px;
}
.select-head:hover{
    cursor: pointer;
}
#month-select-icon,#year-select-icon{
    float: right;
    padding-left: 5px;
    margin-left: 0;
    font-family: 宋体;
    color: #1E90FF;
    font-weight: normal;
}
#month-select-cont,#year-select-cont{
    float: right;
    padding-left: 0;
    padding-right: 0;
    margin-right: 0;
    font-family: 宋体;
    color: #1E90FF;
    font-weight: normal;
}
#year-option,#month-option{
    width: 60px;
    text-align: center;
    color: #1E90FF;
    background: white;
    line-height: 17px;
    border: 1px #1E90FF solid;
    visibility: hidden;
    position: absolute;
    margin-left: 1px;
    font-family: 宋体;
    font-weight: normal;
}
#month-option{
    width: 40px;
}
.month-option-item:hover,.year-option-item:hover{
   background: lightskyblue;
    color: white;
}

#form{
    float: left;
    padding-left: 10px;
    padding-top: 10px;
}
#form b{
    font-size: initial;
    font-family: 宋体;
    color: #1E90FF;
    font-weight: normal;
}


#button {
    height: 25px;
    border-width: 0px;
    border-radius: 3px;
    background: #1E90FF;
    cursor: pointer;
    outline: none;
    font-family: Microsoft YaHei;
    color: white;
    font-size: 15px;
    float: left;
    margin-left: 15px;
    margin-top: 5px;
}
#button:hover{
    background:#87cefa;
    color: white;
}
#year{
    float: left;
    margin-left: 10px;

}
#year p {
    font-size: large;
    font-family: 宋体;
    color: #1E90FF;
}
#month{
    float: left;
}
#month p{
    font-size: large;
    font-family: 宋体;
    color: #1E90FF;
}
#turn-to-today{
    float: right;
    padding-right: 10px;
    margin-left: 10px;

}
#turn-to-today a{
    font-size: large;
    background: white;
    color: #1E90FF;
    border:1px solid #1E90FF;
}
#turn-to-today a:hover{
    background: lightskyblue;
    color: white;
}
#turn-left{
    float: right;
    margin-right: 6px;
}

#turn-right{
    float: right;
    margin-right: 0px;
}
#turn-left a,#turn-right a{
    font-size:x-large;
    color: #1E90FF;
}
#turn-left a:hover,#turn-right a:hover{
    color: lightskyblue;
}
#week{
    height: 50px;
}
.week:hover{
    background: lightskyblue;
    color: white;
}
.weekend{
    color: #1E90FF;
}
#date-table th{
    padding: 14px;
    font-weight: normal;
}
#today{
    background: #1E90FF;
    border-radius: 30px;
    color: white;
}
th:hover{
    background: #f0f0f0;
    border-radius: 13px;
}



